{% extends 'home/home.html'%}
{% load static %}
{% block title %}Product{% endblock title %}

{% block page_css %}
<link rel="stylesheet" type="text/css" href="{% static 'store/css/product_detail.css' %}">
{% endblock page_css %}

{% block content %}

<div class="py-3 px-5 d-flex justify-content-between">
    <div class="product-img d-flex">
        <img src="{{single_product.main_image.url}}" class="" alt="banner">
        <img src="{{single_product.side_image.url}}" class="" alt="banner">
    </div>
    <form action="{% url 'add_cart' single_product.id %}" method="POST">
        {% csrf_token %}
    <div class="details ps-5">
        <h4 class="mb-3">{{single_product.product_name}}</h4>
        <h6 class="fw-bold mb-3">Rs. {{single_product.price}}</h6>
        <p class="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur quam animi quibusdam magni ducimus dicta praesentium totam, dolorum impedit laudantium.</p>
        <select name="size" id="" class="d-block mb-3 p-1" required>
            <option value="" style="display: none;">Select size</option>
            {% for i in single_product.variation_set.all %}
            <option value="{{i.variation_value | lower }}">{{i.variation_value | capfirst }}</option>
            {% endfor %}

        </select>
        <div class="mb-3 btn-group d-flex justify-content-between align-items-center">
            {% if single_product.stock <= 0 %}
                <h5 class="text-danger">OUT OF STOCK</h5>
            {% else %}
                <button type="submit" class="button-dark border w-75" onclick="location.href='{% url 'add_cart' single_product.id %}'">Add to Cart</button>
            {% endif %}
            <button type="button" class=" border-0 bg-white text-dark ">
              <!-- <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                  <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                </svg> -->
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                  </svg>
            </button>
        </div>
        <h6>Estimated Delivery: 7 - 12 days</h6>
        <p>COD Available</p>
    </div>
    </form>

</div>

{% endblock content %}
